AUI/Library/ShaderCache
AUI/Library/PlayerDataCache
AUI/Library/Metadata
AUI/Library/assetDatabase3
AUI/Library/CurrentLayout.dwlt
AUI/Library/expandedItems
AUI/Library/LastSceneManagerSetup.txt
AUI/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
AUI/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
AUI/Library/ScriptAssemblies/Assembly-CSharp.dll
AUI/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
AUI/Library/ScriptAssemblies/BuiltinAssemblies.stamp
AUI/Library/ScriptMapper
AUI/Library/ShaderCache.db
AUI/Library/shadercompiler-UnityShaderCompiler.exe0.log
AUI/Library/SpriteAtlasDatabase.asset
AUI/Library/assetDatabase3
AUI/Library/CurrentLayout.dwlt
AUI/Library/CurrentMaximizeLayout.dwlt
AUI/Library/expandedItems
AUI/Library/InspectorExpandedItems.asset
AUI/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
AUI/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
AUI/Library/ScriptAssemblies/Assembly-CSharp.dll
AUI/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
AUI/Library/ScriptAssemblies/BuiltinAssemblies.stamp
AUI/Library/ScriptMapper
AUI/Library/shadercompiler-UnityShaderCompiler.exe0.log
